header {
  background-color: #65b7d8;
  padding: 16px;
  text-align: center;
  color: white;
}

footer {
  background-color: #444;
  padding: 8px;
  text-align: center;
  color: white;
}

main {
  padding: 24px;
}
